@import url('https://fonts.googleapis.com/css2?family=Sora:wght@700&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: 'Sora', sans-serif;
    background: #26242F;
}
.reflect {
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    color: #F2FE38;
}
.reflect:before{
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: bottom;
    transform: rotateX(180deg);
    line-height: 0.95em;
    background: linear-gradient(0deg, #F2FE38, transparent 80%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
